*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.post{
    width: 200px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}